.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

.container.hasBG::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 388px;
  width: 447px;
  background-image: url('../public/pokeball-flat.svg');
  background-repeat: no-repeat;
  background-position: 39px -154px;
  overflow: hidden;
  opacity: 0.5;
  z-index: 0;
}

.main {
  width: 100%;
  max-width: 930px;
  padding: clamp(5rem, 16vw, 10rem) 0 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  width: 100%;
  padding: 0 1.5rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  max-width: 1000px;
  margin-top: 3rem;
  overflow: unset !important;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, transform 0.15s ease;
  width: 200px;
}

.card:hover,
.card:focus,
.card:active {
  color: #e91e63;
  /* border-color: #e91e63; */
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  box-shadow: rgba(103, 58, 183, 0.8) 0px 30px 60px -12px, rgba(103, 58, 183, 0.2) 0px 18px 36px -18px;
  transform: translateY(-10px) !important; /* important to override a transform none set by framer motion */
  cursor: pointer;
}

.card img {
  max-width: 200px;
  transform: translateX(10px);
  transition: transform 0.15s ease;
}

.card:hover img,
.card:focus img,
.card:active img {
  transform: translate(20px, -20px);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  color: #393939;
  line-height: 1.5;
  transition: all 0.15s ease;
}

.card:hover p,
.card:focus p,
.card:active p {
  color: #e91e63;
  transform: translateX(-20px);
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.search {
  width: 100%;
  padding: 1em;
  font-size: 1.25rem;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  border-radius: 40px;
  outline: none;
  transition: all 0.15s ease;
}

.search:hover,
.search:focus {
  border-color: #e91e63;
}

.endMessage {
  position: absolute;
  bottom: -40px;
  font-weight: bold;
  color: #909090;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
