.container {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
  max-width: 800px;
  padding: clamp(2rem, 8vw, 10rem) 0 0 0;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .title { font-size: clamp(1rem, 10vw, 4rem); }
}

.title span {
  font-size: 0.5em;
  color: rgba(233, 30, 99, 0.5);
}

.titleBG {
  position: absolute;
  /* font-size: 20rem; */
  font-size: clamp(10rem, 50vw, 20rem);
  color: rgba(233, 30, 99, 0.12);
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
  user-select: none;
  white-space: nowrap;
  z-index: 1;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.types {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tag {
  width: fit-content;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  background-color: rgba(156, 39, 176, 0.7);
  border: solid 1px #9c27b0;
  border-radius: 40px;
  color: #fff;
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  max-width: 1000px;
  margin-top: 3rem;
}

.card {
  width: 100%;
  margin: 1rem;
  padding: 1.5rem;
  background-color: #ffffff;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  /* color: #e91e63; */
  box-shadow: rgba(103, 58, 183, 0.8) 0px 30px 60px -12px, rgba(103, 58, 183, 0.2) 0px 18px 36px -18px;
  transform: translateY(-125px);
  z-index: 2;

}

@media screen and (max-width: 600px) {
  .card { transform: translateY(-20vw); }
}

.card img {
  max-width: 200px;
  transform: translateX(10px);
}
.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pokemonImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.pokemonImage .pokemon {
  width: 100%;
  height: auto;
  z-index: 500;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.endMessage {
  position: absolute;
  bottom: -40px;
  font-weight: bold;
  color: #909090;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
